<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre - Inicio</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <a href="/"><img class="logo" src="./images/logo-mercado-liebre.svg" alt="logo"></a>
            <div class="barra-busqueda">
                <input type="search" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class='subtitulo'>
                <p>
                    <i class="fas fa-hand-holding-usd"></i> 
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section >
            <img src="./images/img-home-banner.jpg" alt="banner" class="banner">
        </section>
        <h3>Basado en tu última visita</h3>
        <section class="ultcompra">
            <article class = "articulo">
                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$6.770</p>
                        <p class='descuento'>40% OFF</p>
                    </div>
                    <div class="descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class = "articulo">
                <img src="./images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$230.000</p>
                        <p class='descuento'>20% OFF</p>
                    </div>
                    <div class='descripcion'>
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class = "articulo">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$70.500</p>
                        <p class='descuento'>10% OFF</p>
                    </div>
                    <div  class='descripcion'>
                        <p>Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article class = "articulo">
                <img src="./images/img-tv-samsung-smart.jpg" alt="tv-smart" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$23.200</p>
                        <p class='descuento'>5% OFF</p>
                    </div>
                    <div  class='descripcion'>
                        <p>SmartTv Samsung 43"</p> 
                    </div>  
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section class="ultcompra">
            <article class = "articulo">
                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$6.770</p>
                        <p class='descuento'>40% OFF</p>
                    </div>
                    <div class='descripcion'>
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class = "articulo">
                <img src="./images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$230.000</p>
                        <p class='descuento'>20% OFF</p>
                    </div>
                    <div class='descripcion'>
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class = "articulo">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$70.500</p>
                        <p class='descuento'>10% OFF</p>
                    </div>
                    <div class='descripcion'>
                        <p>Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article class = "articulo">
                <img src="./images/img-tv-samsung-smart.jpg" alt="tv-smart" width="100%">
                <div class="datosprod">
                    <div class="iconoenvio">
                        <p><i class="fas fa-truck envio"></i></p>
                    </div>
                    <div class="precioDesc">
                        <p class='precio'>$23.200</p>
                        <p class='descuento'>5% OFF</p>
                    </div>
                    <div class='descripcion'>
                        <p>SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer> 
        <section class="footer">
            <div>
                <p class="icofoot"><i class="fas fa-credit-card"></i></p>
                <h4 class="hfooter">Pagá con tarjeta o en efectivo</h4>
                <p class="pfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>    
            </div>
            <div>
                <p class="icofoot"><i class="fas fa-gift"></i></p>
                <h4 class="hfooter">Envío gratis desde $ 2.500</h4>
                <p class="pfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>    
            </div>
            <div>
                <p class="icofoot"><i class="fas fa-user-shield"></i></p>
                <h4 class="hfooter">Seguridad, de principio a fin</h4>
                <p class="pfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>    
            </div>
        </section>
        <section>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </section>
    </footer>
</body>
</html>