<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre - Ingresar</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="./images/logo-mercado-liebre.svg" alt="logo">
            <div class="barra-busqueda">
                <input type="search" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class='subtitulo'>
                <p>
                    <i class="fas fa-hand-holding-usd"></i> 
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="login-main">
        <form action="/ingresar" class="login-form">
                <input type="text" name="nombre-usuario" id="nombre-usuario" oninvalid="alert('El nombre de usuario debe ser mínimo 8 caracteres!');" required
                minlength="8" placeholder="Nombre de usuari@">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <button class="submit" type="submit">Enviar</button>
        </form>
    </main>
    <footer> 
        <section class="footer">
            <div>
                <p class="icofoot"><i class="fas fa-credit-card"></i></p>
                <h4 class="hfooter">Pagá con tarjeta o en efectivo</h4>
                <p class="pfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>    
            </div>
            <div>
                <p class="icofoot"><i class="fas fa-gift"></i></p>
                <h4 class="hfooter">Envío gratis desde $ 2.500</h4>
                <p class="pfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>    
            </div>
            <div>
                <p class="icofoot"><i class="fas fa-user-shield"></i></p>
                <h4 class="hfooter">Seguridad, de principio a fin</h4>
                <p class="pfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>    
            </div>
        </section>
        <section>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </section>
    </footer>
</body>
</html>